$dark-color1: #575757;
$dark-color2: #474b4f;
$dark-color3: #222629;
$light-color1: #fcdb6a;
$light-color2: #aaaaaa;
$light-color3: #e5e5e5;
$light-color0: #ebeaecfa;
$bg-image: url("../img/background.jpg");
